link(rel="import", href="../byutv-jsonp/byutv-jsonp.html")
dom-module#instagram-panel
  link(rel="import", type="css", href="instagram-panel.css")
  template
    byutv-jsonp(auto="true",
        url="https://api.instagram.com/v1/users/1826169172/media/recent/",
        params='{"client_id":"4dc84f34e54442eaa8d4ed0247d481cf"}',
        on-response="handleResponse")
    div(class='instagram')
    content
        p This is my instagram component
  script(type='text/javascript').
  
    // instagram deets
    // clientid: 4dc84f34e54442eaa8d4ed0247d481cf
    // https://api.instagram.com/v1/users/1826169172/media/recent/?client_id=4dc84f34e54442eaa8d4ed0247d481cf
    
    Polymer({
      is: 'instagram-panel',
      properties: {
        random: Boolean
      },
      handleResponse: function(response) {
          var _self = this;
          
          response.detail.data.forEach( function(photo) {
              
              console.log( 'Photo: ' + photo.id );
              console.log( ' - thumbnail ' + photo.images.thumbnail.url );
              
              var newThumbnail = document.createElement('div');
              newThumbnail.classList.add('photoThumbnail');
              newThumbnail.id = photo.id;
              
              var newImage = document.createElement('img');
              newImage.src = photo.images.thumbnail.url;
              
              Polymer.dom(_self).appendChild(newThumbnail);
              Polymer.dom(newThumbnail).appendChild(newImage);
          });
          
      }
    });
