doctype html
html(lang="en")
  head
    title Sonny King Innovation Technologist
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 Innovation Technologist
    section#introduction
      p I'm a design technologist at frog design, a product innovation and strategy firm based in San Francisco.
    section#technology
      p Technology is a part of our daily lives, I chose to embrace it during a time of massive change.
    section#design
      p At the heart of what I do is the burning desire to bring design to market, from concept to product.
    section#innovation
      p It' very hard to
    section#process
    footer
      ul
        li gihub
        li twitter
        li instagram
