doctype html
html(lang="en", ng-app)
    head
        title Sonny King Innovation Technologist
        link(rel='stylesheet', href='/css/style.css')
        script(src='bower_components/webcomponentsjs/webcomponents.min.js')
        link(rel='import', href='bower_components/polymer/polymer.html')
        link(rel='import', href='bower_components/instagram-panel/instagram-panel.html')
    body
        header
            h1 Innovation Technologist
        section#introduction
            p I'm a design technologist at frog design, a product innovation and strategy firm based in San Francisco.
        section#technology
            p Technology is a part of our daily lives, I chose to embrace it during a time of massive change.
        section#design
            p At the heart of what I do is the burning desire to bring design to market, from concept to product.
        section#innovation
            p It' very hard to
        section#process
        section#photography
            instagram-panel(client-id="4dc84f34e54442eaa8d4ed0247d481cf", user-id="1826169172", dog="buffy")
        footer
            ul
                li
                    a(href="https://github.com/sonnyking") github
                li
                    a(href="https://twitter.com/techaesthetic") twitter
                li 
                    a(href="https://instagram.com/techaesthetic/") instagram
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
